<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap="lib.php"
        cacheTokens="false"
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        mapTestClassNameToCoveredClassName="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        stopOnRisky="false"
        timeoutForSmallTests="1"
        timeoutForMediumTests="10"
        timeoutForLargeTests="60"
        verbose="false">
        <php>
                <var name="DB_DSN" value="mysql:dbname=test;host=localhost" />
                <var name="DB_USER" value="test" />
                <var name="DB_PASSWD" value="test" />
                <var name="DB_DBNAME" value="test" />
        </php>
</phpunit>